.updatePassword {
    min-height: 100vh;
    background-image: linear-gradient(to right, #fff5bc, #cec1ff);
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
  }
  
  .updatePasswordForm {
    background-color: white;
    width: 50%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .updatePasswordForm>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .updatePasswordInputs {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    font: 300 0.9vmax cursive;
    margin: 2vmax;
    outline: none;
  }
  
  .updatePasswordForm > div > svg {
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  
  @media screen and (max-width: 600px) {
    .updatePasswordForm {
      width: 100%;
    }
  
    .updatePasswordInputs {
      padding: 4vw 8vw;
      margin: 2vmax;
      font: 100 1.2rem "Roboto", sans-serif;
      margin: 4vw;
    }
  }